Repository CommunityToolkit/Labs-Windows, pull requests merged in 2022-11, with the labels that each got.

#290 Fix SettingsExpander ItemsSource scenario
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsCard.md
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsCardSample.xaml
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsControls.Samples.csproj
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsControls.md
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsExpander.md
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsExpanderItemsSourceSample.xaml
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsExpanderItemsSourceSample.xaml.cs
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsExpanderSample.xaml
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsPageExample.md
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsPageExample.xaml
  labs/SettingsControls/samples/SettingsControls.Samples/SettingsPageExample.xaml.cs
  labs/SettingsControls/src/CommunityToolkit.Labs.WinUI.SettingsControls.csproj
  labs/SettingsControls/src/SettingsExpander/Internal/StyledContentPresenter.cs
  labs/SettingsControls/src/SettingsExpander/SettingsExpander.Properties.cs
  labs/SettingsControls/src/SettingsExpander/SettingsExpander.cs
  labs/SettingsControls/src/SettingsExpander/SettingsExpanderItemStyleSelector.cs
Labels: experiment :test_tube:

#303 Fixed building in codespaces
  .devcontainer/Dockerfile
Labels: Uno, WASM, dev loop ➰

#305 Fixed text selection for code display on WASM
  common/CommunityToolkit.Labs.Shared/Renderers/ToolkitSampleRenderer.xaml
Labels: bug :bug:, WASM, sample app 🖼
