Repository CommunityToolkit/Labs-Windows, pull requests merged in 2023-02, with the labels that each got.

#350 Use slngen and remove UWP target from WinUI packages
  .config/dotnet-tools.json
  .github/workflows/build.yml
  .vscode/tasks.json
  Directory.Build.targets
  GenerateAllSolution.bat
  GenerateAllSolution.ps1
  common/GenerateAllSolution.ps1
  common/Labs.Head.props
  common/Scripts/UseTargetFrameworks.ps1
  common/Toolkit.Labs.All.sln.template
  global.json
  tests/Labs.Tests.props
Labels: build :fire:, CI/pipeline 🔬, WinUI :diamond_shape_with_a_dot_inside:, sdkcheck :checkered_flag:

#357 🧪 [Experiment] Segmented control
  components/SegmentedControl/OpenSolution.bat
  components/SegmentedControl/samples/Dependencies.props
  components/SegmentedControl/samples/SegmentedControl.Samples.csproj
  components/SegmentedControl/samples/SegmentedControl.md
  components/SegmentedControl/samples/SegmentedControlBasicSample.xaml
  components/SegmentedControl/samples/SegmentedControlBasicSample.xaml.cs
  components/SegmentedControl/samples/SegmentedControlStylesSample.xaml
  components/SegmentedControl/samples/SegmentedControlStylesSample.xaml.cs
  components/SegmentedControl/src/AdditionalAssemblyInfo.cs
  components/SegmentedControl/src/CommunityToolkit.Labs.WinUI.SegmentedControl.csproj
  components/SegmentedControl/src/Dependencies.props
  components/SegmentedControl/src/EqualPanel.cs
  components/SegmentedControl/src/Helpers/ControlHelpers.cs
  components/SegmentedControl/src/Helpers/FrameworkElementExtensions.cs
  components/SegmentedControl/src/MultiTarget.props
  components/SegmentedControl/src/Segmented/Segmented.cs
  components/SegmentedControl/src/Segmented/Segmented.xaml
  components/SegmentedControl/src/SegmentedItem/SegmentedItem.cs
  components/SegmentedControl/src/SegmentedItem/SegmentedItem.xaml
  components/SegmentedControl/src/Themes/Generic.xaml
  components/SegmentedControl/tests/ExampleSegmentedControlTestClass.cs
  components/SegmentedControl/tests/ExampleSegmentedControlTestPage.xaml
  components/SegmentedControl/tests/ExampleSegmentedControlTestPage.xaml.cs
  components/SegmentedControl/tests/SegmentedControl.Tests.projitems
  components/SegmentedControl/tests/SegmentedControl.Tests.shproj
Labels: experiment :test_tube:

#375 Fixed an issue where MSBuild wouldn't be detected on some machines
  common/ProjectHeads/GenerateSingleSampleHeads.ps1
Labels: bug :bug:

#372 Fixed custom csproj file names
  common/ProjectHeads/GenerateSingleSampleHeads.ps1
  common/ProjectHeads/SingleComponent/Tests.Uwp/ProjectTemplate.Tests.Uwp.csproj
  common/ProjectHeads/SingleComponent/Tests.WinAppSdk/ProjectTemplate.Tests.WinAppSdk.csproj
  common/ProjectHeads/SingleComponent/Uwp/ProjectTemplate.Uwp.csproj
  common/ProjectHeads/SingleComponent/Wasm/ProjectTemplate.Wasm.csproj
  common/ProjectHeads/SingleComponent/WinAppSdk/ProjectTemplate.WinAppSdk.csproj
  common/ToolkitComponent.SampleProject.props
  components/RivePlayer/samples/RivePlayer.Samples.csproj
Labels: bug :bug:, dev loop ➰
